In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')
%matplotlib inline

In [2]:
uber15 = pd.read_csv('uber_trips_2015.csv.gz', compression='gzip', header=0, sep=',')

In [3]:
list(uber15.columns)

['pickup_datetime', 'pickup_location_id', 'dispatch_base', 'affiliate_base']

In [4]:
uber15.describe()

       pickup_location_id
count        1.427048e+07
mean         1.520574e+02
std          7.159620e+01
min          1.000000e+00
25%          9.200000e+01
50%          1.570000e+02
75%          2.300000e+02
max          2.650000e+02

In [5]:
uber15['pickup_datetime'] =  pd.to_datetime(uber15['pickup_datetime'])

In [6]:
type(uber15['pickup_datetime'][0])

pandas.tslib.Timestamp

In [7]:
uber15['pickup_datetime'].describe()

count                14270479
unique                2744783
top       2015-06-27 20:52:00
freq                      213
first     2015-01-01 00:00:05
last      2015-06-30 23:59:00
Name: pickup_datetime, dtype: object

In [8]:
timeseries = uber15.set_index('pickup_datetime')

In [9]:
timeseries.describe()

       pickup_location_id
count        1.427048e+07
mean         1.520574e+02
std          7.159620e+01
min          1.000000e+00
25%          9.200000e+01
50%          1.570000e+02
75%          2.300000e+02
max          2.650000e+02

In [10]:
list(timeseries.columns)

['pickup_location_id', 'dispatch_base', 'affiliate_base']

In [11]:
timeseries.date = timeseries.resample('D')

In [12]:
timeseries.date.count()

                 pickup_location_id  dispatch_base  affiliate_base
pickup_datetime
2015-01-01                    58045          58045           55383
2015-01-02                    40287          40287           38469
2015-01-03                    59844          59844           57383
2015-01-04                    41943          41943           39998
2015-01-05                    43678          43678           41858
2015-01-06                    53539          53539           51407
2015-01-07                    63375          63375           60905
2015-01-08                    73016          73016           70034
2015-01-09                    72124          72124           69035
2015-01-10                    80656          80656           77031
2015-01-11                    58751          58751           56011
2015-01-12                    58991          58991           56674
2015-01-13                    64765          64765           62227
2015-01-14                    64725          64725           62083
2015-01-15                    68211          68211           65473
2015-01-16                    74193          74193           71160
2015-01-17                    75364          75364           72071
2015-01-18                    74523          74523           71112
2015-01-19                    47025          47025           44958
2015-01-20                    55867          55867           53777
2015-01-21                    60383          60383           57984
2015-01-22                    66819          66819           64301
2015-01-23                    73363          73363           70457
2015-01-24                    82588          82588           79323
2015-01-25                    59382          59382           56782
2015-01-26                    44310          44310           42606
2015-01-27                    25954          25954           24855
2015-01-28                    61626          61626           59271
2015-01-29                    70441          70441           67743
2015-01-30                    85565          85565           82245
...                             ...            ...             ...
2015-06-01                    93499          93499           93499
2015-06-02                    97592          97592           97592
2015-06-03                    87206          87206           87206
2015-06-04                    95023          95023           95023
2015-06-05                   101922         101922          101922
2015-06-06                   101773         101773          101773
2015-06-07                    88876          88876           88876
2015-06-08                    76899          76899           76899
2015-06-09                    82463          82463           82463
2015-06-10                    87403          87403           87403
2015-06-11                   102013         102013          102013
2015-06-12                   103052         103052          103052
2015-06-13                   101170         101170          101170
2015-06-14                    90856          90856           90856
2015-06-15                    85857          85857           85857
2015-06-16                    89171          89171           89171
2015-06-17                    93706          93706           93706
2015-06-18                    99842          99842           99842
2015-06-19                   101703         101703          101703
2015-06-20                   101667         101667          101667
2015-06-21                    89285          89285           89285
2015-06-22                    75418          75418           75418
2015-06-23                    93172          93172           93172
2015-06-24                    91388          91388           91388
2015-06-25                   100073         100073          100073
2015-06-26                    99508          99508           99508
2015-06-27                   136193         136193          136193
2015-06-28                    93108          93108           93108
2015-06-29                    74430          74430           74430
2015-06-30                    82627          82627           82627

[181 rows x 3 columns]

In [13]:
df = timeseries.date.count()

In [14]:
df.to_csv('uber15-timeseries-resampled-D-count', sep=',', encoding='utf-8')

In [3]:
uber14 = pd.read_csv('uber_trips_2014.csv.gz', compression='gzip', header=0, sep=',')

In [5]:
uber14['pickup_datetime'] = pd.to_datetime(uber14['pickup_datetime'], errors='coerce')

KeyboardInterrupt: